/* font imports */
@font-face {
    font-family: nirutt-header-font;
    src: url(./assets/fonts/NHaasGroteskDSPro-55Rg.otf);
}
@font-face {
    font-family: nirutt-standard-font;
    src: url(./assets/fonts/52ce32a338a3057de64c3528a8571a7f.ttf);
    font-weight: 400;
}
@font-face {
    font-family: nirutt-standard-font;
    src: url(./assets/fonts/dae5654a2e5ffdaf0057259047ba7834.ttf);
    font-weight: 500;
}
@font-face {
    font-family: nirutt-standard-font;
    src: url(./assets/fonts/ac1dbc3a2cc16a39ee69152e60e7d608.ttf);
    font-weight: 600;
}
@font-face {
    font-family: nirutt-standard-font;
    src: url(./assets/fonts/4c25ad540087c6c91e1a512489228e10.ttf);
    font-weight: 700;
}
:root {
    scroll-behavior: unset;
}
body {
    background-color:#000000;
}
span {
    margin-right: 0.5rem;
}
/* Firefox scrollbar */
html {
    scrollbar-color: #0744F5 transparent;
}
  
/* WebKit and Chromiums scrollbar */
::-webkit-scrollbar {
width: 8px;
height: 8px;
background-color: white;
}

::-webkit-scrollbar-thumb {
background: #0744F5;
border-radius: 5px;
}
/* global variables */
#end-letter-header, #end-letter-contact {
    margin-right: 0;
}
.project-bg-dark {
    background-color: #101010;
}
.project-bg-green {
    background-color: #B4F3D1;
}
.project-bg-blue {
    background-color: #B9E7F8;
}
.project-bg-white {
    background-color: #fff;
}
.contact-buttons-wrapper {
    margin-top: 4rem;
    padding-left: 0.75rem;
}
.contact-buttons-wrapper {
    margin-top: 4rem;
    padding-left: 0.75rem;
}
.contact-button {
    color:black;
    border-color: #EBECEF;
    font-family: "nirutt-standard-font", sans-serif;
    width: fit-content;
    padding-top: 0.8rem;
    padding-right: 1.5rem;
    padding-bottom: 0.8rem;
    padding-left: 1.5rem;
    border-radius: 1rem;
    transition: 600ms;
    border-style: solid;
    border-width: 0.25rem;
}
.contact-button:hover {
    font-family: "nirutt-standard-font", sans-serif;
    color: #F0F1F2;
    background-color: black;
    padding-top: 0.8rem;
    padding-right: 1.5rem;
    padding-bottom: 0.8rem;
    padding-left: 1.5rem;
    border-radius: 1rem;
}
#letter-gradient {
    background: -webkit-linear-gradient(left, #FFC371, #FF5F6D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.copyright-text, .website-text {
    font-family: "nirutt-header-font", sans-serif;
    color: black;
}
.knowledge-label {
    background-color: rgba(0, 0, 0, 0.05);
    color: black;
    font-family: "nirutt-standard-font", sans-serif;
    font-weight: 500;
    font-size: 1rem; 
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
} 
a {
    text-decoration: none;
    color: black;
}
/* animation and transitions for preloader and default states */
.preloader {
    height: 100vh;
    background-color: #000000;

}
div.main-content-wrapper {
    background-color: #F0F1F2;
    border-radius: 5rem;
    padding-bottom: 2rem;
}
.navigation-bar {
    opacity: 0;
    visibility: hidden;
}
span.letter, .illustration, .about-letter, .contact-letter,
.contact-buttons-wrapper {
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
}
a.project-wrapper, .about-knowledge-labels-wrapper {
    display: inline-block;
    opacity: 0;
    transform: translateY(25px);
}

/* extra large desktop screen */
@media screen and (min-width: 1400px) {
    /* navigation section */
    .navigation-bar {
        width: 100vw;
        padding-top: 2rem;
        padding-right: 2rem;
        margin: 0;
    }
    .navigation-wrapper {
        width: 100vw;
        margin: 0;
        padding-right: 2rem;
        padding-left: 2rem;
    }
    .day-night-wrapper {
        width: fit-content;
    }
    .day-night-button {
        width: 60px;
        height: 28.18px;
        background-image: url("./assets/images/day-mode-switch.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .mobile-menu-button {
        display: none;
    }
    .desktop-menu-button {
        font-family: "nirutt-standard-font", sans-serif;
        font-weight: 400;
        font-size: 1rem;
        width: fit-content;
        padding-top: 0.8rem;
        padding-right: 1.5rem;
        padding-bottom: 0.8rem;
        padding-left: 1.5rem;
        border-radius: 1rem;
        margin-right: 1.25rem;
        margin-left: 1.25rem;
        transition: 600ms;
    }
    .desktop-menu-button:hover {
        font-family: "nirutt-standard-font", sans-serif;
        font-weight: 400;
        font-size: 1rem;
        color: #F0F1F2;
        background-color: black;
        padding-top: 0.8rem;
        padding-right: 1.5rem;
        padding-bottom: 0.8rem;
        padding-left: 1.5rem;
        margin-right: 1.25rem;
        margin-left: 1.25rem;
        border-radius: 1rem;
    }
    /* header section */
    .header-wrapper {
        margin-top: 18rem;
        margin-bottom: 18rem;
        padding-right: 12rem;
        padding-left: 12rem;
    }
    .illustration-wrapper {
        width: 0rem;
    }
    .illustration {
        width: 6rem;
    }
    .mobile-title-wrapper {
        width:fit-content;
    }
    .letter {
        font-family: "nirutt-header-font", sans-serif;
        font-size: 6rem;
        line-height: 6rem;
        color: black;
    }
    /* project section */
    .project-section-wrapper {
        margin-top: -0.5rem;
        padding-right: 12rem;
        padding-left: 12rem;
    }
    .project-bg-dark, .project-bg-green, .project-bg-blue, .project-bg-white {
        border-radius: 1.75rem;
        padding: 2rem;
        margin-bottom: 3rem;
    }
    .project-header-icon-wrapper {
        width: fit-content;
        padding-right: 0;
    }
    .project-header-icon {
        width: 1.75rem;
    }
    .project-header-title {
        margin-bottom: 0;
        font-family: "nirutt-standard-font", sans-serif;
        font-weight: 700;
        font-size: 1.45rem;
    }
    .project-year-wrapper {
        margin-top: 0.25rem;
    }
    .project-year-label {
        font-family: "nirutt-standard-font", sans-serif;
        font-weight: 600;
        font-size: 1rem;    
    }
    .project-description-text {
        font-family: "nirutt-standard-font", sans-serif;
        font-weight: 400;
        font-size: 1rem;  
    }
    .project-discipline-wrapper {
        margin-top: 2.5rem;
    }
    .project-discipline-label {
        font-family: "nirutt-standard-font", sans-serif;
        font-weight: 500;
        font-size: 1rem; 
        background-color: rgba(0, 0, 0, 0.05);
        padding-top: 0.5rem;
        padding-right: 1rem;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        margin-bottom: 0.5rem;
        border-radius: 0.5rem;
    }
    .project-link-descriptor {
        font-family: "nirutt-header-font", sans-serif;
        width: fit-content;
        margin-right: 0.25rem;

    }
    .github-link, .github-link:hover {
        font-family: "nirutt-header-font", sans-serif;
        width: fit-content;
        color: #0744F5;
    }
    /* about section */
    .about-wrapper {
        margin-top: 12rem;
        padding-right: 12rem;
        padding-left: 12rem;
    }
    .about-letter {
        font-family: "nirutt-header-font", sans-serif;
        font-size: 3rem;
        line-height: 3.25rem;
        color: black;
    }
    .about-knowledge-descriptor-wrapper {
        margin-top: 3rem;
    }
    .knowledge-descriptor {
        font-family: "nirutt-standard-font", sans-serif;
        font-size: 1rem;
        color: black;
    }
    .about-knowledge-labels-wrapper {
        margin-top: 2rem;
    }
    /* contact section 
    - mountain icon uses properties of class illustration */
    .contact-title-wrapper {
        width: fit-content;
    }
    .contact-wrapper {
        margin-top: 18rem;
        margin-bottom: 18rem;
        padding-right: 12rem;
        padding-left: 12rem;
    }
    .contact-letter {
        font-family: "nirutt-header-font", sans-serif;
        font-size: 4.25rem;
        line-height: 4.5rem;
        color: black;
    }
    /* footer section */
    .footer-wrapper {
        padding-right: 11.25rem;
        padding-left: 11.25rem;
    }
    .contact-button, .contact-button:hover {
        margin-right: 1.5rem;
        margin-bottom: 1.5rem;
    }
}
/* large desktop screen */
@media screen and (min-width: 1200px) and (max-width:1399px) {
    /* navigation section */
    .navigation-bar {
        width: 100vw;
        padding-top: 2rem;
        padding-right: 2rem;
        margin: 0;
    }
    .navigation-wrapper {
        width: 100vw;
        margin: 0;
        padding-right: 2rem;
        padding-left: 2rem;
    }
    .day-night-wrapper {
        width: fit-content;
    }
    .day-night-button {
        width: 60px;
        height: 28.18px;
        background-image: url("./assets/images/day-mode-switch.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .mobile-menu-button {
        display: none;
    }
    .desktop-menu-button {
        font-family: "nirutt-standard-font", sans-serif;
        font-weight: 400;
        font-size: 1rem;
        width: fit-content;
        padding-top: 0.8rem;
        padding-right: 1.5rem;
        padding-bottom: 0.8rem;
        padding-left: 1.5rem;
        border-radius: 1rem;
        margin-right: 1.25rem;
        margin-left: 1.25rem;
        transition: 600ms;
    }
    .desktop-menu-button:hover {
        font-family: "nirutt-standard-font", sans-serif;
        font-weight: 400;
        font-size: 1rem;
        color: #F0F1F2;
        background-color: black;
        padding-top: 0.8rem;
        padding-right: 1.5rem;
        padding-bottom: 0.8rem;
        padding-left: 1.5rem;
        margin-right: 1.25rem;
        margin-left: 1.25rem;
        border-radius: 1rem;
    }
    /* header section */
    .header-wrapper {
        margin-top: 15rem;
        margin-bottom: 15rem;
        padding-right: 9rem;
        padding-left: 9rem;
    }
    .illustration-wrapper {
        width: 0rem;
    }
    .illustration {
        width: 5.5rem;
    }
    .mobile-title-wrapper {
        width:fit-content;
    }
    .letter {
        font-family: "nirutt-header-font", sans-serif;
        font-size: 5.5rem;
        line-height: 5.5rem;
        color: black;
    }
    /* project section */
    .project-section-wrapper {
        margin-top: -4rem;
        padding-right: 9rem;
        padding-left: 9rem;
    }
    .project-bg-dark, .project-bg-green, .project-bg-blue, .project-bg-white {
        border-radius: 1.75rem;
        padding: 2rem;
        margin-bottom: 2.75rem;
    }
    .project-header-icon-wrapper {
        width: fit-content;
        padding-right: 0;
    }
    .project-header-icon {
        width: 1.75rem;
    }
    .project-header-title {
        margin-bottom: 0;
        font-family: "nirutt-standard-font", sans-serif;
        font-weight: 700;
        font-size: 1.45rem;
    }
    .project-year-wrapper {
        margin-top: 0.25rem;
    }
    .project-year-label {
        font-family: "nirutt-standard-font", sans-serif;
        font-weight: 600;
        font-size: 1rem;    
    }
    .project-description-text {
        font-family: "nirutt-standard-font", sans-serif;
        font-weight: 400;
        font-size: 1rem;  
    }
    .project-discipline-wrapper {
        margin-top: 2.5rem;
    }
    .project-link-descriptor {
        font-family: "nirutt-header-font", sans-serif;
        width: fit-content;
        margin-right: 0.25rem;

    }
    .github-link, .github-link:hover {
        font-family: "nirutt-header-font", sans-serif;
        width: fit-content;
        color: #0744F5;
    }
    /* about section */
    .about-wrapper {
        margin-top: 10rem;
        padding-right: 9rem;
        padding-left: 9rem;
    }
    .about-letter {
        font-family: "nirutt-header-font", sans-serif;
        font-size: 3rem;
        line-height: 3.25rem;
        color: black;
    }
    .about-knowledge-descriptor-wrapper {
        margin-top: 3rem;
    }
    .knowledge-descriptor {
        font-family: "nirutt-standard-font", sans-serif;
        font-size: 1rem;
        color: black;
    }
    .about-knowledge-labels-wrapper {
        margin-top: 2rem;
    }
    .knowledge-label {
        background-color: rgba(0, 0, 0, 0.05);
        color: black;
        font-family: "nirutt-standard-font", sans-serif;
        font-weight: 500;
        font-size: 1rem; 
        padding-top: 0.5rem;
        padding-right: 1rem;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        border-radius: 0.5rem;
        margin-bottom: 0.5rem;
    }
    /* contact section 
    - mountain icon uses properties of class illustration */
    .contact-title-wrapper {
        width: fit-content;
    }
    .contact-wrapper {
        margin-top: 15rem;
        margin-bottom: 15rem;
        padding-right: 9rem;
        padding-left: 9rem;
    }
    .contact-letter {
        font-family: "nirutt-header-font", sans-serif;
        font-size: 3.75rem;
        line-height: 4rem;
        color: black;
    }
    /* footer section */
    .footer-wrapper {
        padding-right: 8.25rem;
        padding-left: 8.25rem;
    }
    .contact-button, .contact-button:hover {
        margin-right: 1.5rem;
        margin-bottom: 1.5rem;
    }
}
/* desktop screen */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    /* navigation section */
    .navigation-bar {
        width: 100vw;
        padding-top: 2rem;
        padding-right: 2rem;
        margin: 0;
    }
    .navigation-wrapper {
        width: 100vw;
        margin: 0;
        padding-right: 2rem;
        padding-left: 2rem;
    }
    .day-night-wrapper {
        width: fit-content;
    }
    .day-night-button {
        width: 60px;
        height: 28.18px;
        background-image: url("./assets/images/day-mode-switch.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .mobile-menu-button {
        display: none;
    }
    .desktop-menu-button {
        font-family: "nirutt-standard-font", sans-serif;
        font-weight: 400;
        font-size: 1rem;
        width: fit-content;
        padding-top: 0.8rem;
        padding-right: 1.5rem;
        padding-bottom: 0.8rem;
        padding-left: 1.5rem;
        border-radius: 1rem;
        margin-left: 2.5rem;
        transition: 600ms;
    }
    .desktop-menu-button:hover {
        font-family: "nirutt-standard-font", sans-serif;
        font-weight: 400;
        font-size: 1rem;
        color: #F0F1F2;
        background-color: black;
        padding-top: 0.8rem;
        padding-right: 1.5rem;
        padding-bottom: 0.8rem;
        padding-left: 1.5rem;
        margin-left: 2.5rem;
        border-radius: 1rem;
    }
    .header-wrapper {
        width: 100vw;
        padding-top: 11.25rem;
        padding-right: 6rem;
        padding-bottom: 11.25rem;
        padding-left: 6rem;
    }
    /* header section */
    .header-wrapper {
        margin-top: 8rem;
        padding-right: 6rem;
        padding-left: 6rem;
    }
    .illustration-wrapper {
        width: 0rem;
    }
    .illustration {
        width: 5.5rem;
    }
    .mobile-title-wrapper {
        width:fit-content;
    }
    .letter {
        font-family: "nirutt-header-font", sans-serif;
        font-size: 4.5rem;
        line-height: 4.5rem;
        color: black;
    }
    /* project section */
    .project-section-wrapper {
        padding-right: 6rem;
        padding-left: 6rem;
    }
    .project-bg-dark, .project-bg-green, .project-bg-blue, .project-bg-white {
        border-radius: 1.75rem;
        padding: 2rem;
        margin-bottom: 2.75rem;
    }
    .project-header-icon-wrapper {
        width: fit-content;
        padding-right: 0;
    }
    .project-header-icon {
        width: 1.75rem;
    }
    .project-header-title {
        margin-bottom: 0;
        font-family: "nirutt-standard-font", sans-serif;
        font-weight: 700;
        font-size: 1.45rem;
    }
    .project-year-wrapper {
        margin-top: 0.25rem;
    }
    .project-year-label {
        font-family: "nirutt-standard-font", sans-serif;
        font-weight: 600;
        font-size: 1rem;    
    }
    .project-description-text {
        font-family: "nirutt-standard-font", sans-serif;
        font-weight: 400;
        font-size: 1rem;  
    }
    .project-discipline-wrapper {
        margin-top: 2.5rem;
    }
    .project-link-descriptor {
        font-family: "nirutt-header-font", sans-serif;
        width: fit-content;
        margin-right: 0.25rem;

    }
    .github-link, .github-link:hover {
        font-family: "nirutt-header-font", sans-serif;
        width: fit-content;
        color: #0744F5;
    }
    /* about section */
    .about-wrapper {
        margin-top: 9rem;
        padding-right: 6rem;
        padding-left: 6rem;
    }
    .about-letter {
        font-family: "nirutt-header-font", sans-serif;
        font-size: 2.5rem;
        line-height: 2.75rem;
        color: black;
        margin-right: 0.2rem;
    }
    .about-knowledge-descriptor-wrapper {
        margin-top: 3rem;
    }
    .knowledge-descriptor {
        font-family: "nirutt-standard-font", sans-serif;
        font-size: 1rem;
        color: black;
    }
    .about-knowledge-labels-wrapper {
        margin-top: 2rem;
    }
    .knowledge-label {
        background-color: rgba(0, 0, 0, 0.05);
        color: black;
        font-family: "nirutt-standard-font", sans-serif;
        font-weight: 500;
        font-size: 1rem; 
        padding-top: 0.5rem;
        padding-right: 1rem;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        border-radius: 0.5rem;
        margin-bottom: 0.5rem;
    }
    /* contact section 
    - mountain icon uses properties of class illustration */
    .contact-title-wrapper {
        width: fit-content;
    }
    .contact-wrapper {
        margin-top: 15rem;
        margin-bottom: 15rem;
        padding-right: 6rem;
        padding-left: 6rem;
    }
    .contact-letter {
        font-family: "nirutt-header-font", sans-serif;
        font-size: 3.25rem;
        line-height: 3.5rem;
        color: black;
    }
    /* footer section */
    .footer-wrapper {
        padding-right: 5.25rem;
        padding-left: 5.25rem;
    }
    .contact-button, .contact-button:hover {
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}
/* tablet screen */
@media screen and (min-width: 768px) and (max-width: 991px) {
    /* navigation section */
    .navigation-bar {
        width: 100vw;
        padding-top: 2rem;
        padding-right: 2rem;
        margin: 0;
    }
    .navigation-wrapper {
        width: 100vw;
        margin: 0;
        padding-right: 2rem;
        padding-left: 2rem;
    }
    .day-night-button {
        width: 60px;
        height: 28.18px;
        background-image: url("./assets/images/day-mode-switch.svg");
        background-size: contain;
        background-repeat: no-repeat;
    }
    .mobile-menu-button {
        width: fit-content;
        padding-top: 0.8rem;
        padding-right: 1.5rem;
        padding-bottom: 0.8rem;
        padding-left: 1.5rem;
        border-radius: 1rem;
        transition: 600ms;
    }
    .mobile-menu-button:hover {
        color: #F0F1F2;
        background-color: black;
        padding-top: 0.8rem;
        padding-right: 1.5rem;
        padding-bottom: 0.8rem;
        padding-left: 1.5rem;
        border-radius: 1rem;
    }
    .desktop-menu-button {
        display: none;
    }
    /* header section */
    .header-wrapper {
        margin-top: 15rem;
        margin-bottom: 15rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .illustration-wrapper {
        width: 0rem;
    }
    .illustration {
        width: 4.5rem;
    }
    .mobile-title-wrapper {
        width:fit-content;
    }
    .letter {
        font-family: "nirutt-header-font", sans-serif;
        font-size: 3.75rem;
        line-height: 3.75rem;
        color: black;
    }
    /* project section */
    .project-section-wrapper {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .project-bg-dark, .project-bg-green, .project-bg-blue, .project-bg-white {
        border-radius: 1.75rem;
        padding: 2rem;
        margin-bottom: 2rem;
    }
    .project-header-icon-wrapper {
        width: fit-content;
        padding-right: 0;
    }
    .project-header-icon {
        width: 1.75rem;
    }
    .project-header-title {
        margin-bottom: 0;
        font-family: "nirutt-standard-font", sans-serif;
        font-weight: 700;
        font-size: 1.45rem;
    }
    .project-year-wrapper {
        margin-top: 0.25rem;
    }
    .project-year-label {
        font-family: "nirutt-standard-font", sans-serif;
        font-weight: 600;
        font-size: 1rem;    
    }
    .project-description-text {
        font-family: "nirutt-standard-font", sans-serif;
        font-weight: 400;
        font-size: 1rem;  
    }
    .project-discipline-wrapper {
        margin-top: 2.5rem;
    }
    .project-link-descriptor {
        font-family: "nirutt-header-font", sans-serif;
        width: fit-content;
        margin-right: 0.25rem;

    }
    .github-link, .github-link:hover {
        font-family: "nirutt-header-font", sans-serif;
        width: fit-content;
        color: #0744F5;
    }
    /* about section */
    .about-wrapper {
        margin-top: 8rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .about-letter {
        font-family: "nirutt-header-font", sans-serif;
        font-size: 2.5rem;
        line-height: 2.75rem;
        color: black;
        margin-right: 0.3rem;
    }
    .about-knowledge-descriptor-wrapper {
        margin-top: 3rem;
    }
    .knowledge-descriptor {
        font-family: "nirutt-standard-font", sans-serif;
        font-size: 1rem;
        color: black;
    }
    .about-knowledge-labels-wrapper {
        margin-top: 2rem;
    }
    .knowledge-label {
        background-color: black;
        color: #F0F1F2;
        font-family: "nirutt-standard-font", sans-serif;
        font-weight: 500;
        font-size: 1rem; 
        padding-top: 0.5rem;
        padding-right: 1rem;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        border-radius: 0.5rem;
        margin-bottom: 0.5rem;
    }
    /* contact section 
    - mountain icon uses properties of class illustration */
    .contact-title-wrapper {
        width: fit-content;
    }
    .contact-wrapper {
        margin-top: 15rem;
        margin-bottom: 15rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .contact-letter {
        font-family: "nirutt-header-font", sans-serif;
        font-size: 3rem;
        line-height: 3.25rem;
        color: black;
    }
    .contact-buttons-wrapper {
        margin-top: 4rem;
        padding-left: 0.75rem;
    }
    .contact-button {
        width: fit-content;
        padding-top: 0.8rem;
        padding-right: 1.5rem;
        padding-bottom: 0.8rem;
        padding-left: 1.5rem;
        border-radius: 1rem;
        transition: 600ms;
        margin-right: 1.5rem;
        border-style: solid;
        border-width: 0.25rem;
        border-color: #EBECEF;
    }
    .contact-button:hover {
        color: #F0F1F2;
        background-color: black;
        padding-top: 0.8rem;
        padding-right: 1.5rem;
        padding-bottom: 0.8rem;
        padding-left: 1.5rem;
        border-radius: 1rem;
        margin-right: 1.5rem;
    }
    /* footer section */
    .footer-wrapper {
        padding-right: 0.25rem;
        padding-left: 0.25rem;
    }
    .contact-button, .contact-button:hover {
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}
/* larger mobile screen */
@media screen and (min-width: 576px) and (max-width: 767px) {
    /* navigation section */
    .navigation-bar {
        padding-top: 1.5rem;
        margin: 0;
    }
    .navigation-wrapper {
        width: 100vw;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .day-night-button {
        width: 60px;
        height: 28.18px;
        background-image: url("./assets/images/day-mode-switch.svg");
        background-size: contain;
        background-repeat: no-repeat;
    }
    .mobile-menu-button {
        width: fit-content;
        padding-top: 0.8rem;
        padding-right: 1.5rem;
        padding-bottom: 0.8rem;
        padding-left: 1.5rem;
        border-radius: 1rem;
        transition: 600ms;
    }
    .mobile-menu-button:hover {
        color: #F0F1F2;
        background-color: black;
        padding-top: 0.8rem;
        padding-right: 1.5rem;
        padding-bottom: 0.8rem;
        padding-left: 1.5rem;
        border-radius: 1rem;
    }
    .desktop-menu-button {
        display: none;
    }
    /* header section */
    .header-wrapper {
        margin-top: 12rem;
        margin-bottom: 12rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .illustration-wrapper {
        width: 0rem;
    }
    .illustration {
        width: 4.5rem;
    }
    .mobile-title-wrapper {
        width:fit-content;
    }
    .letter {
        font-family: "nirutt-header-font", sans-serif;
        font-size: 3.5rem;
        line-height: 3.5rem;
        color: black;
    }
    /* project section */
    .project-section-wrapper {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .project-bg-dark, .project-bg-green, .project-bg-blue, .project-bg-white {
        border-radius: 1.75rem;
        padding: 2rem;
        margin-bottom: 1.5rem;
    }
    .project-header-icon-wrapper {
        width: fit-content;
        padding-right: 0;
    }
    .project-header-icon {
        width: 1.75rem;
    }
    .project-header-title {
        margin-bottom: 0;
        font-family: "nirutt-standard-font", sans-serif;
        font-weight: 700;
        font-size: 1.45rem;
    }
    .project-year-wrapper {
        margin-top: 0.25rem;
    }
    .project-year-label {
        font-family: "nirutt-standard-font", sans-serif;
        font-weight: 600;
        font-size: 1rem;    
    }
    .project-description-text {
        font-family: "nirutt-standard-font", sans-serif;
        font-weight: 400;
        font-size: 1rem;  
    }
    .project-discipline-wrapper {
        margin-top: 2.5rem;
    }
    .project-discipline-label {
        font-family: "nirutt-standard-font", sans-serif;
        font-weight: 500;
        font-size: 1rem; 
        background-color: rgba(0, 0, 0, 0.05);
        padding-top: 0.5rem;
        padding-right: 1rem;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        margin-bottom: 0.5rem;
        border-radius: 0.5rem;
    }
    .project-link-descriptor {
        font-family: "nirutt-header-font", sans-serif;
        width: fit-content;
        margin-right: 0.25rem;

    }
    .github-link, .github-link:hover {
        font-family: "nirutt-header-font", sans-serif;
        width: fit-content;
        color: #0744F5;
    }
    /* about section */
    .about-wrapper {
        margin-top: 8rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .about-letter {
        font-family: "nirutt-header-font", sans-serif;
        font-size: 2.25rem;
        line-height: 2.5rem;
        color: black;
        margin-right: 0.2rem;
    }
    .about-knowledge-descriptor-wrapper {
        margin-top: 3rem;
    }
    .knowledge-descriptor {
        font-family: "nirutt-standard-font", sans-serif;
        font-size: 1rem;
        color: black;
    }
    .about-knowledge-labels-wrapper {
        margin-top: 2rem;
    }  
    /* contact section 
    - mountain icon uses properties of class illustration */
    .contact-title-wrapper {
        width: fit-content;
        margin-right: 1rem;
    }
    .contact-wrapper {
        margin-top: 12rem;
        margin-bottom: 12rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .contact-letter {
        font-family: "nirutt-header-font", sans-serif;
        font-size: 2.5rem;
        line-height: 2.75rem;
        color: black;
    }
    /* footer section */
    .footer-wrapper {
        padding-right: 0rem;
        padding-left: 0rem;
    }
    .contact-button, .contact-button:hover {
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

}
/* mobile screen */
@media screen and (max-width: 575px) {
    /* navigation section */
    .navigation-bar {
        width: 100vw;
        padding-top: 1rem;
        margin: 0;
    }
    .navigation-wrapper {
        width: 100vw;
        margin: 0;
        padding-right: 0.25rem;
        padding-left: 0.25rem;
    }
    .day-night-button {
        width: 60px;
        height: 28.18px;
        background-image: url("./assets/images/day-mode-switch.svg");
        background-size: contain;
        background-repeat: no-repeat;
    }
    .mobile-menu-button {
        width: fit-content;
        padding-top: 0.8rem;
        padding-right: 1.5rem;
        padding-bottom: 0.8rem;
        padding-left: 1.5rem;
        border-radius: 1rem;
        transition: 600ms;
    }
    .mobile-menu-button:hover {
        color: #F0F1F2;
        background-color: black;
        padding-top: 0.8rem;
        padding-right: 1.5rem;
        padding-bottom: 0.8rem;
        padding-left: 1.5rem;
        border-radius: 1rem;
    }
    .desktop-menu-button {
        display: none;
    }
    /* header section */
    .header-wrapper {
        margin-top: 10rem;
        margin-bottom: 10rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .illustration-wrapper {
        width: 6rem;
    }
    .illustration {
        width: 4.5rem;
    }
    .mobile-title-wrapper {
        width:min-content;
    }
    .letter {
        font-family: "nirutt-header-font", sans-serif;
        font-size: 3.5rem;
        line-height: 3.5rem;
        color: black;
    }
    /* project section */
    .project-section-wrapper {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .project-bg-dark, .project-bg-green, .project-bg-blue, .project-bg-white{
        border-radius: 1.75rem;
        padding: 2rem;
        margin-bottom: 1.5rem;
    }
    .project-header-icon-wrapper {
        width: fit-content;
        padding-right: 0;
    }
    .project-header-icon {
        width: 1.75rem;
    }
    .project-header-title {
        margin-bottom: 0;
        font-family: "nirutt-standard-font", sans-serif;
        font-weight: 700;
        font-size: 1.45rem;
    }
    .project-year-wrapper {
        margin-top: 0.25rem;
    }
    .project-year-label {
        font-family: "nirutt-standard-font", sans-serif;
        font-weight: 600;
        font-size: 1rem;    
    }
    .project-description-text {
        font-family: "nirutt-standard-font", sans-serif;
        font-weight: 400;
        font-size: 1rem;  
    }
    .project-discipline-wrapper {
        margin-top: 2.5rem;
    }
    .project-discipline-label {
        font-family: "nirutt-standard-font", sans-serif;
        font-weight: 500;
        font-size: 1rem; 
        background-color: rgba(0, 0, 0, 0.05);
        padding-top: 0.5rem;
        padding-right: 1rem;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        margin-bottom: 0.5rem;
        border-radius: 0.5rem;
    }
    .project-link-wrapper {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .project-link-descriptor {
        font-family: "nirutt-header-font", sans-serif;
        width: fit-content;
        margin-right: 0.25rem;

    }
    .github-link, .github-link:hover {
        font-family: "nirutt-header-font", sans-serif;
        width: fit-content;
        color: #0744F5;
    }
    /* about section */
    .about-wrapper {
        margin-top: 6rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    span.about-letter {
        font-family: "nirutt-header-font", sans-serif;
        font-size: 2rem;
        line-height: 2.25rem;
        color: black;
        margin-right: 0.2rem;
    }
    .about-knowledge-descriptor-wrapper {
        margin-top: 3rem;
    }
    .knowledge-descriptor {
        font-family: "nirutt-standard-font", sans-serif;
        font-size: 1rem;
        color: black;
    }
    .about-knowledge-labels-wrapper {
        margin-top: 2rem;
    }
    .knowledge-label {
        background-color: rgba(0, 0, 0, 0.05);
        color: black;
        font-family: "nirutt-standard-font", sans-serif;
        font-weight: 500;
        font-size: 1rem; 
        padding-top: 0.5rem;
        padding-right: 1rem;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        border-radius: 0.5rem;
        margin-bottom: 0.5rem;
    }
    /* contact section 
    - mountain icon uses properties of class illustration */
    .contact-title-wrapper {
        width: fit-content;
    }
    .contact-wrapper {
        margin-top: 12rem;
        margin-bottom: 12rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .contact-letter {
        font-family: "nirutt-header-font", sans-serif;
        font-size: 2.5rem;
        line-height: 2.75rem;
        color: black;
    }
    .contact-button {
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .contact-button:hover {
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
    }
    /* footer section */
    .footer-wrapper {
        padding-right: 0.25rem;
        padding-left: 0.25rem;
        margin: 0;
    }
}